#ct {
   padding-inline: var(--pad-geral);
   padding-block: 1em;
}

#ct > img {
   width: 190px;
}

#ct > img:hover {
   cursor: pointer;
}

@media screen and (max-width: 450px) {
   #ct > img {
      width: 130px;
      margin-left: 5px;
   }
}
