@import url("./fonts/font.css");

* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
   font-family: "Avenir-book";
   font-weight: normal;
}

a {
   text-decoration: none;
   color: var(--cor-texto);
}

img {
   max-width: 100%;
}

.App {
   color: var(--cor-texto);
   letter-spacing: -0.04em;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   min-height: 100vh;
}

/* Swiper */
.swiper-slide {
   display: flex;
   align-items: center;
   justify-content: center;
}

.mySwiper2 {
   overflow: hidden;
   margin-bottom: 1em;
   height: 500px;
}

.mySwiper2 .swiper-slide:hover {
   cursor: grab;
}

.mySwiper .swiper-slide {
   height: 100px;
   width: auto;
   opacity: 0.4;
}

.mySwiper .swiper-slide:hover {
   cursor: pointer;
}

.mySwiper .swiper-slide-thumb-active {
   opacity: 1;
}

@media screen and (max-width: 1159px) {
   .mySwiper .swiper-slide {
      height: 140px;
   }
}

@media screen and (max-width: 547px) {
   .mySwiper2 {
      height: 370px;
   }
}
