:root {
   --cor-texto: #000;
   --cor-texto2: #999999;
   --pad-geral: 19%;
   --pad-geral2: 30%;
   --cor-tema: #ff66c8;
   --cor-borda: #e5e5e5;
   --cor-link: #007aff;
}

@media screen and (max-width: 1635px) {
   :root {
      --pad-geral: 13%;
   }
}

@media screen and (max-width: 1585px) {
   :root {
      --pad-geral2: 24%;
   }
}

@media screen and (max-width: 1391px) {
   :root {
      --pad-geral: 8%;
   }
}

@media screen and (max-width: 1165px) {
   :root {
      --pad-geral2: 18%;
   }
}

@media screen and (max-width: 811px) {
   :root {
      --pad-geral: 3%;
      --pad-geral2: 10%;
   }
}

@media screen and (max-width: 811px) {
   :root {
      --pad-geral2: 5%;
   }
}

@media screen and (max-width: 600px) {
   :root {
      --pad-geral2: var(--pad-geral);
   }
}
